@(userProfileInfo: model.UserProfileInfo, weatherInfo: model.WeatherInfo, requests: Int)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png"
           href="@routes.Application.versioned("images/favicon.png")">
    </head>
    <body>
        <h2>User Profile</h2>
        <div>Name: @userProfileInfo.fullname</div>
        <div>User: @userProfileInfo.username</div>
        <div>Email: @userProfileInfo.email</div>
        <div>Age: @userProfileInfo.age</div>
        <div>Phone: @userProfileInfo.phone</div>
        <br>
        <h2>Weather Info</h2>
        <div>Date: @weatherInfo.datetime</div>
        <div>Summary: @weatherInfo.summary</div>
        <div>Temperature: @{weatherInfo.temperature}\u00B0C</div>
        <div>Humidity: @{weatherInfo.humidity}%</div>
        <div>Pressure: @{weatherInfo.pressure} hPa</div>
        <div>Location: @weatherInfo.location</div>
        <br>
        <div>Requests: @requests</div>
    </body>
</html>
